body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


#waveform{
    margin: 10rem 0;
    position: relative;
}

 #btn{
     
     position: absolute;
     left: 50%;
     /* transform: (-50%); */
     border-radius: 1.5rem;
     text-align: center;
     width: 5rem;
     height: 4rem;
    
 }

 button>i{
     font-size: 1.5rem;
 }
 

.div_class{
    position: absolute;
    color: white;
    border-radius: .5rem;
    padding: .25rem .75rem;
}
       
#my_div1{
    left: 10rem;
    top: 7rem;
    background-color: rgb(38, 197, 38);
    
}

#my_div1::after{
    content: '';
    height: 6rem;
    border: 2px solid rgb(38, 197, 38);
    position: absolute;
    background-color: rgb(38, 197, 38);
    top: 1.65rem;
    left: 2.75rem;
    /* opacity: .75; */
}

#stick1{
    position: absolute;
    border-radius: 50%;
    background-color: rgb(38, 197, 38);
    width: 1rem;
    height: 1rem;
    left: 12.35rem;
    top: 15rem;
    z-index: 2;
}

#my_div2{
    left: 22rem;
    top: 4rem;
    background-color: rgb(38, 221, 160);
}

#my_div2::after{
    content: '';
    height: 9.5rem;
    border: 2px solid rgb(38, 221, 160);
    position: absolute;
    background-color: rgb(38, 221, 160);
    top: 1.65rem;
    left: 2.3rem;
    /* opacity: .5; */
}

#stick2{
    position: absolute;
    border-radius: 50%;
    background-color: rgb(38, 221, 160);
    width: 1rem;
    height: 1rem;
    left: 23.85rem;
    top: 15rem;
    z-index: 2;
}


#my_div3{
    left: 73rem;
    top: 3.5rem;
    background-color: rgb(157, 216, 19);
}

#my_div3::after{
    content: '';
    height: 10.5rem;
    border: 2px solid rgb(157, 216, 19);
    position: absolute;
    background-color: rgb(157, 216, 19);
    top: 1.65rem;
    left: 11rem;
    /* opacity: .5; */
}


#stick3{
    position: absolute;
    border-radius: 50%;
    background-color: rgb(157, 216, 19);
    width: 1rem;
    height: 1rem;
    left: 83.65rem;
    top: 15rem;
    z-index: 2;
}

#my_div4{
    left: 70rem;
    top: 6rem;
    background-color: brown;
}

#my_div4::after{
    content: '';
    height: 8rem;
    border: 2px solid brown;
    position: absolute;
    background-color: brown;
    top: 1.65rem;
    left: 12rem;
    z-index: 2;
}


#stick4{
    position: absolute;
    border-radius: 50%;
    background-color: brown;
    width: 1rem;
    height: 1rem;
    left: 81.6rem;
    top: 15rem;
    z-index: 2;
}


#my_div5{
    left: 78.5rem;
    top: 8rem;
    background-color: rgb(14, 14, 143);
}

#my_div5::after{
    content: '';
    height: 6rem;
    border: 2px solid rgb(14, 14, 143);
    position: absolute;
    background-color: rgb(14, 14, 143);
    top: 1.65rem;
    left: 2rem;
    /* opacity: .5; */
    z-index: 2;
}













#stick5{
    position: absolute;
    border-radius: 50%;
    background-color: rgb(14, 14, 143);
    width: 1rem;
    height: 1rem;
    left: 80.15rem;
    top: 15rem;
    z-index: 2;
}